@media screen and (max-width: 768px)
{

    /* ------- regle générale ------- */

    .bloc_page {
        padding: 0;
    }

    /* ---------- header et nav ----------- */

    header {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    header img {
        margin: auto;
    }

    nav {
        width: 100%;
    }

    nav ul {
        padding: 0;
    }

    nav li {
        font-size: medium;
        font-weight: 500;
        margin: auto;
        padding: 15px 0;
        width: 100%;
        border-bottom: solid 4px var(--gris);
    }

    nav li:hover {
        border-bottom: 4px solid var(--bleu);
    }

    nav a:hover {
        border-top: none;
    }

    /* -------------- main -------------- */

    main {
        padding: 0;
    }

    .titre_page, #recherche, #filtre, .info, #activites {
        padding: 30px;
        width: auto;
        margin: auto;
    }

    p {
        font-size: medium;
    }

    /* bloc recherche */

    #recherche .fa-magnifying-glass {
        display: initial;
    }

    .loupe_bleu {
        background-color: var(--bleu);
        color: white;
        padding: 15px;
        border-radius: 15px;
        margin-left: -10px;
    }

    #recherche button {
        display: none;
    }

    /* ----- filtres ----- */

    #filtre {
        flex-direction: column;
        align-items: baseline;
    }

    /* bloc populaire */

    .populaires .carte img {
        width: 125px;
    }
    
    .hebergements_marseille .carte {
        width: 100%;
    }
    
    .conteneur:nth-child(2) {
        border-radius: 0;
    }

    .conteneur:nth-child(1) {
        background-color: white;
    }

    /* ------- bloc activité --------- */

    .activites_marseille {
        flex-direction: row;
        margin: auto;
    }

    .carte-bloc {
        width: 100%;
        flex-direction: column;
        margin-bottom: 25px;
        height: 450px;
        gap: 15px;
    }
    
    .carte-bloc img {
        width: 100%;
        min-height: auto;
    }

    .carte-55 {
        flex-basis: 45%;
    }

    .carte-40 {
        flex-basis: 45%;;
    }

    .carte-100 {
        flex-basis: 100%;
        height: 200px;
    }

    .carte-100 img {
        height: 150px;
    }

    .carte-55 img {
        min-height: 150px;
        width: 100%;
    }

    .carte-40 img {
        min-height: 150px;
    }

    /* ------ footer ------ */

    footer {
        display: flex;
    }

    .conteneur_footer {
        flex-direction: column;
        margin: auto;
    }
}