/* ---- regles generales ---- */

:root {
    --bleu: #0065fc;
    --bleuclair: #DEEBFF;
    --gris: #f2f2f2
}

* {
    box-sizing: border-box;
    font-family: 'Raleway', 'trebuchet ms', 'sans-serif';
}

.bloc_page {
    padding: 0 20px;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li {
    font-size: small;
}

main {
    margin: auto;
    padding: 15px;
    margin-bottom: 15px;
}

p {
    font-size: small;
}

/* ---- header et navigation ---- */

header {
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#logo {
    height: 45px;
    width: auto;
    margin-right: auto;
    padding: 0 25px;
}

nav ul {
    display: flex;
}

nav li {
    margin-right: 15px;
}

nav a {
    padding: 30px;
}

nav a:hover {
    border-top: 3px solid var(--bleu);
    color: var(--bleu);
}

/* -------- regles main --------- */

h1 {
    display: block;
    font-size: x-large;
    margin: 0;
}

h2 {
    font-size: x-large;
    margin-bottom: 15px;
}


/* ---- bloc recherche ---- */

#recherche {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}

#recherche i {
    background-color: var(--gris);
    padding: 15px;
    border-radius: 15px 0 0 15px;
}

#recherche input {
    padding: 13px;
    border: solid 2px var(--gris);
    font-weight: bold;
}

#recherche button {
    background-color: var(--bleu);
    color: white;
    padding: 15px;
    border-radius: 0 15px 15px 0;
    font-weight: bold;
    border: none;
}


/* ---- section filtres ---- */

#filtre {
    display: flex;
    align-items: center;
}

#filtre h2 {
    margin-right: 15px;
    font-size: large;
}

.conteneur_filtre {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px
}

.conteneur_filtre div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px lightgrey;
    border-radius: 100px;
    margin: 5px;
}


#filtre i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bleu);
    background-color: var(--bleuclair);
    height: 54px;
    width: 54px;
    border-radius: 50%;
    margin: -5px
}

#filtre p {
    padding: 0 15px;
    font-weight: bold;
    font-size: medium;
}

.conteneur_filtre div:hover {
    border: solid 2px var(--bleu);
}

/* bloc info */

.info {
    display: flex;
    align-items: center;
}

.fa-info {
    color: var(--bleu);
    border: solid var(--gris) 2px;
    border-radius: 50px;
    padding: 5px 10px;
    justify-content: center;
    margin-right: 10px;
}

/* ---- bloc hebergements et plus populaires ----*/


/* bloc conteneur */

#hebergements {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.conteneur {
    display: flex;
    flex-direction: column;
    background-color: var(--gris);
    border-radius: 15px;
    padding: 30px;
    width: auto;
}

.conteneur:nth-child(1) {
    flex-basis: 66%;
}

.conteneur:nth-child(2) {
    flex-basis: 30%;
}

/* bloc carte */

.carte {
    display: flex;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 5px 15px lightgrey;
}

.carte a {
    display: flex;
}

.carte img {
    object-fit: cover;
}

.carte aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.carte h3 {
    margin: 0;
    font-size: medium;
}

.carte p {
    font-size: small;
    margin: 0 0 0 0;
}

.carte .etoile {
    display: block;
    font-size: x-small;
}

/* étoile */

.fa-star {
    color: var(--bleu);
}

.etoile_grise {
    color: grey;
}

.etoile_noire {
    color: black;
}


/* bloc hebergements à marseille - coté gauche */


.hebergements_marseille {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.hebergements_marseille .carte {
    flex-direction: column;
    height: 210px;
    width: 30%;
    margin-bottom: 15px;
}

.hebergements_marseille .carte a {
    flex-direction: column;
}

.hebergements_marseille .carte img {
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}


.plus {
    font-weight: bold;
}

/* bloc les plus populaires - coté droit */

.titre_pop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populaires .carte {
    height: 150px;
    width: 100%;
    margin-bottom: 15px;
}

.populaires .carte img {
    height: auto;
    width: 125px;
    border-radius: 15px 0 0 15px;
}



/* ---- activités à marseille ----- */

#activites {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activites_marseille {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 500px;
}

.activites_marseille .carte {
    padding: 0;
    overflow: hidden;
}

.carte-bloc {
    width: 23%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carte-100 {
    flex-basis: 100%;
}

.carte-55 {
    flex-basis: 55%;
}
.carte-40 {
    flex-basis: 40%;
}

.activites_marseille .carte a {
    flex-direction: column;
}

.carte-100 img {
    height: 444px;
}

.carte-55 img {
    width: 100%;
    min-height: 218px;
}

.carte-40 img {
    width: 100%;
    min-height: 145px;
}

.activites_marseille .carte h3 {
    min-height: 35px;
}


/* ----- footer et navigation ----- */

footer {
    background-color: var(--gris);
    padding: 20px 50px;
    width: 100%;
}

.conteneur_footer {
    display: flex;
    gap: 20%;
}

.conteneur_lien {
    display: flex;
    flex-direction: column;
}

.conteneur_lien h2 {
    font-size: medium;
    margin-bottom: 0;
}

.conteneur_lien ul {
    padding: 0;
}

.conteneur_lien li {
    padding: 5px 0;
}

